---
import { animate } from 'animejs';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=devi2ce-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Animejs</title>
	</head>
	<body style="margin:0; height:100vh; background: #000000;">
		<h1>Animejs</h1>
	</body>

</html>

<style>
  h1 { 
	color: rgb(161, 74, 241); 
	text-align: center;
	}
</style>